<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95734214824-oc8ppjubflammvt7cegr07r8s5qsf47k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95734214824-oc8ppjubflammvt7cegr07r8s5qsf47k</string>
	<key>API_KEY</key>
	<string>AIzaSyCr5vxuMmNhC5AdT4xUWJs9fXQ_qjEB9Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>95734214824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-6cfd1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-6cfd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95734214824:ios:948a4d11f6b9360b42129d</string>
</dict>
</plist>